{% extends "src/html/layout.html" %} {% block header %} {% include
"src/html/header.html" %} {% endblock %} {% block footer %} {% include
"src/html/footer.html" %} {% endblock %} {% block body %}

<main class="home">
  <div class="hero-carousel">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./image/avocado.jpg" alt="Avocado" />
      </div>
      <div class="swiper-slide">
        <img src="./image/kiwi.jpg" alt="Kiwi" />
      </div>
      <div class="swiper-slide">
        <img src="./image/tomato.jpg" alt="Tomato" />
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev bg-black bg-opacity-50 text-white"></div>
    <div class="swiper-button-next bg-black bg-opacity-50 text-white"></div>
  </div>

  <div class="container py-5">
    <div class="row g-4">
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Hello There!</h4>
            <h6 class="card-subtitle text-muted">This is body</h6>
          </div>
          <img
            src="./image/carrot.jpg"
            class="max-w-100"
            alt="Photo of carrot, a vegetable"
          />
          <div class="card-body">
            <p class="card-text">
              Meet the carrot, a vegetable <br />
              Some quick example text to build on the card title and make up the
              bulk of the card's content. >
            </p>
            <a href="#" class="btn btn-primary">Nutrition</a>
            <a href="#" class="btn">How to plant</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Hello There!</h4>
            <h6 class="card-subtitle text-muted">This is body</h6>
          </div>
          <img
            src="./image/carrot.jpg"
            class="max-w-100"
            alt="Photo of carrot, a vegetable"
          />
          <div class="card-body">
            <p class="card-text">
              Meet the carrot, a vegetable <br />
              Some quick example text to build on the card title and make up the
              bulk of the card's content. >
            </p>
            <a href="#" class="btn btn-primary">Nutrition</a>
            <a href="#" class="btn">How to plant</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Hello There!</h4>
            <h6 class="card-subtitle text-muted">This is body</h6>
          </div>
          <img
            src="./image/carrot.jpg"
            class="max-w-100"
            alt="Photo of carrot, a vegetable"
          />
          <div class="card-body">
            <p class="card-text">
              Meet the carrot, a vegetable <br />
              Some quick example text to build on the card title and make up the
              bulk of the card's content. >
            </p>
            <a href="#" class="btn btn-primary">Nutrition</a>
            <a href="#" class="btn">How to plant</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Hello There!</h4>
            <h6 class="card-subtitle text-muted">This is body</h6>
          </div>
          <img
            src="./image/carrot.jpg"
            class="max-w-100"
            alt="Photo of carrot, a vegetable"
          />
          <div class="card-body">
            <p class="card-text">
              Meet the carrot, a vegetable <br />
              Some quick example text to build on the card title and make up the
              bulk of the card's content. >
            </p>
            <a href="#" class="btn btn-primary">Nutrition</a>
            <a href="#" class="btn">How to plant</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Hello There!</h4>
            <h6 class="card-subtitle text-muted">This is body</h6>
          </div>
          <img
            src="./image/carrot.jpg"
            class="max-w-100"
            alt="Photo of carrot, a vegetable"
          />
          <div class="card-body">
            <p class="card-text">
              Meet the carrot, a vegetable <br />
              Some quick example text to build on the card title and make up the
              bulk of the card's content. >
            </p>
            <a href="#" class="btn btn-primary">Nutrition</a>
            <a href="#" class="btn">How to plant</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Hello There!</h4>
            <h6 class="card-subtitle text-muted">This is body</h6>
          </div>
          <img
            src="./image/carrot.jpg"
            class="max-w-100"
            alt="Photo of carrot, a vegetable"
          />
          <div class="card-body">
            <p class="card-text">
              Meet the carrot, a vegetable <br />
              Some quick example text to build on the card title and make up the
              bulk of the card's content. >
            </p>
            <a href="#" class="btn btn-primary">Nutrition</a>
            <a href="#" class="btn">How to plant</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Hello There!</h4>
            <h6 class="card-subtitle text-muted">This is body</h6>
          </div>
          <img
            src="./image/carrot.jpg"
            class="max-w-100"
            alt="Photo of carrot, a vegetable"
          />
          <div class="card-body">
            <p class="card-text">
              Meet the carrot, a vegetable <br />
              Some quick example text to build on the card title and make up the
              bulk of the card's content. >
            </p>
            <a href="#" class="btn btn-primary">Nutrition</a>
            <a href="#" class="btn">How to plant</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Hello There!</h4>
            <h6 class="card-subtitle text-muted">This is body</h6>
          </div>
          <img
            src="./image/carrot.jpg"
            class="max-w-100"
            alt="Photo of carrot, a vegetable"
          />
          <div class="card-body">
            <p class="card-text">
              Meet the carrot, a vegetable <br />
              Some quick example text to build on the card title and make up the
              bulk of the card's content. >
            </p>
            <a href="#" class="btn btn-primary">Nutrition</a>
            <a href="#" class="btn">How to plant</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
